.product-filter{

	width: 25%;
	display: inline;
	float: left;
	padding: 0% 0% 0% 3%;

	.filter-header{
		padding: 5% 20%;
  		text-align: center;
	}

	.settings{

		.filter{

			padding: 0% 0% 8% 0%;

			.title{

			}

			.type-filter{

			}

		}

	}
}