<!DOCTYPE root[<!ELEMENT Products ANY>
<!ATTLIST Products id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1047" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-06T14:51:47" updateDate="2015-04-06T15:02:02" nodeName="Home" urlName="home" path="-1,1047" isDoc="" nodeType="1046" creatorName="Admin" writerName="Admin" writerID="0" template="1048" nodeTypeAlias="Home" />
  <Products id="1051" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-08T20:40:21" updateDate="2015-04-08T20:40:29" nodeName="Products" urlName="products" path="-1,1051" isDoc="" nodeType="1050" creatorName="Admin" writerName="Admin" writerID="0" template="1049" nodeTypeAlias="Products" />
</root>