@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
.button-list button {
  display: inline-block;
  margin: 3% 3% 0 3%;
  border-radius: 1em;
}

.primary-button {
  background-color: transparent;
  padding: 2% 8%;
  color: white;
  background-color: #5d963f;
}

.secondary-button {
  background-color: transparent;
  padding: 2% 8%;
  color: white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
body {
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #777;
}

h1, h3 {
  font-size: 70px;
}

p {
  font-size: 30px;
}

.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 0;
  padding: 1% 1%;
  font-size: 20px;
}
.header .title {
  float: left;
  width: 60%;
  overflow: hidden;
  text-transform: uppercase;
}
.header .nav {
  float: left;
  width: 30%;
  overflow: hidden;
}
.header .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .nav ul li + li:before {
  color: #fff;
  content: ' | ';
}
.header .nav ul li {
  display: inline;
}
.header .nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

/* No files to import found in Themes/**\/* */
/* No files to import found in Vendor/**\/* */
.container-header {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0% 0% 0% 0%;
  overflow: auto;
}

.main-content {
  padding: 5% 0% 0% 0%;
}

.cover-background {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/header-image3.png") no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
}

.cover-background:before {
  background: black;
  opacity: 0.7;
}

.footer {
  padding: 1% 0;
  width: 100%;
  text-align: center;
}
.footer .social-media-icons {
  display: inline-block;
  padding: 0 1%;
}
.footer .social-media-icons icon {
  padding: 0 10%;
}
.footer .nav {
  display: inline-block;
  padding: 2% 0%;
  font-size: 30px;
  text-align: center;
}
.footer .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .nav ul li {
  display: inline;
}
.footer .nav ul li a {
  color: white;
}
.footer .sub-nav {
  display: inline-block;
  padding: 2% 0%;
  font-size: 30px;
  text-align: center;
  padding-bottom: 4%;
}
.footer .sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .sub-nav ul li + li:before {
  color: #fff;
  content: ' | ';
}
.footer .sub-nav ul li {
  display: inline;
}
.footer .sub-nav ul li a {
  color: #fff;
}
.footer .social-media-icons {
  padding: 4% 8% 1% 8%;
}
.footer .social-media-icons .icon-overview {
  display: inline-block;
  padding: 0% 0%;
  text-align: center;
}
.footer .upper-section {
  background-color: #252525;
}
.footer .lower-section {
  font-size: xx-large;
  background-color: #5d963f;
  text-align: center;
  color: #fff;
}
.footer .lower-section h3 {
  margin: 0;
  color: #fff;
  padding: 1% 0% 0% 0%;
}
.footer .lower-section .description {
  padding: 1% 0% 1% 0%;
}

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/client/images/header-image3.png") no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 15%;
}
.hero-container .inner {
  text-align: center;
}
.hero-container .inner h1, .hero-container .inner p {
  color: #ffffff;
}

.circular {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.circular-small {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.icon {
  background: url("/client/images/header-image3.png") no-repeat;
}

.latest-offers .container {
  padding: 0% 0% 5% 0%;
}
.latest-offers .offer {
  width: 40%;
  padding: 5%;
}
.latest-offers .offer .logo-container {
  width: 50%;
  display: inline;
  float: left;
}
.latest-offers .offer .logo-container .product-logo {
  width: 60%;
}
.latest-offers .offer .logo-container .share-social-media .icon {
  display: inline-block;
  float: left;
  background-size: 90% 100%;
  padding: 12% 21% 0% 0%;
}
.latest-offers .offer .logo-container .share-social-media .icon .fb {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/client/images/header-image3.png") no-repeat;
}
.latest-offers .offer .logo-container .share-social-media .icon .twitter {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/client/images/header-image3.png") no-repeat;
}
.latest-offers .offer .logo-container .share-social-media .icon .favourites {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/client/images/header-image3.png") no-repeat;
}
.latest-offers .offer .product-details {
  display: inline;
  float: left;
  width: 50%;
}
.latest-offers .offer .product-details .title {
  display: inline-block;
  float: left;
}
.latest-offers .offer .product-details .product-detail {
  padding: 0% 0% 0% 70%;
}

.nav {
  width: 100%;
}
.nav .logo {
  margin: 3% 20%;
  padding-left: 3%;
  background: url("../../../../media/paper-plane.png") no-repeat;
}
.nav .nav-items {
  display: inline;
}
.nav .nav-items ul li {
  color: #fff;
}

.overview {
  padding: 8% 8%;
}
.overview .product-overview {
  display: inline-block;
  padding: 0% 3%;
  text-align: center;
  width: 25%;
}

.product-filter {
  width: 25%;
  display: inline;
  float: left;
  padding: 0% 0% 0% 3%;
}
.product-filter .filter-header {
  padding: 5% 20%;
  text-align: center;
}
.product-filter .settings .filter {
  padding: 0% 0% 8% 0%;
}

.product-overview {
  display: inline;
  width: 68%;
  float: left;
  padding: 0% 0% 0% 4%;
}
.product-overview .overview-container {
  position: relative;
  float: left;
  padding: 1% 1%;
}
.product-overview .overview-container .product {
  width: 220px;
  height: 185px;
  background-color: #f6f6f6;
  text-align: center;
  float: left;
  cursor: pointer;
}
.product-overview .overview-container .product img {
  height: 100%;
  width: 100%;
  display: block;
}
.product-overview .overview-container .product .overlay {
  width: 220px;
  height: 47px;
  position: absolute;
  z-index: 5;
  margin-top: 140px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75));
}
.product-overview .overview-container .product .overlay .product-details {
  padding-top: 5%;
  text-align: center;
}
.product-overview .overview-container .product .overlay .product-details .title {
  color: #fff;
}
.product-overview .overview-container .product .overlay .product-details .description {
  color: #fff;
}

#slide {
  display: none;
  position: absolute;
  float: left;
  height: 14px;
  width: 200px;
  top: 35px;
  /*background-color: rgba(102, 102, 102, 0.90);*/
  padding: 10px;
  z-index: 2;
}
